* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 70px;
    width: 100%;
    background-color: #821C53;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
    background-color: #fdfdfd;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    left: 20px;
    font-size: 18px;
    margin-right: 50px;
    gap: 20px; /* Define o espaçamento entre os itens do menu */
    }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: #d02782;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  /* Slideshow Container */
.slideshow-container {
    position: relative;
    margin: auto;
    width: 750px;
    height: 300px;
  }
  
  /* Slideshow Image */
  .slideshow-image {
    display: block;
    margin: auto;
  }
  
  /* Dots Container */
  .dots-container {
    text-align: center;
    margin-top: 10px;
  }
  
  /* Dots */
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  /* Estilos para o submenu */
.submenu {
  position: relative;
  display: inline-block;
}

.submenu-content {
  display: none;
  position: absolute;
  background-color: white; /* Cor de fundo do submenu */
  border: 1px solid #ccc; /* Borda do submenu */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra */
  z-index: 1;
}

.submenu:hover .submenu-content {
  display: block;
}

.submenu-content a {
  color: black; /* Cor do texto do submenu */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.submenu-content a:hover {
  background-color: #bd2875; /* Cor de fundo ao passar o mouse */
}

.submenu-trigger:focus + .submenu-content {
  display: block;
}

